{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page">Se connecter</h2>
    </div> 
</section>  

<form method="post" style="width: 600px; margin-left: auto; margin-right: auto;">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal mt-4" style="font-family: Poppins, sans-serif; font-size: 20px;">Connectez-vous, s'il vous plait:</h1>
    <label for="inputEmail" class="mb-2" style="font-family: Poppins, sans-serif;">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword" class="mt-2 mb-2" style="font-family: Poppins, sans-serif;">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-primary mt-2 mb-4" type="submit" style="background-color: #e1261c;
    opacity: 0.75; font-family: Poppins, sans-serif;">
        Se connecter
    </button>
</form>
{% endblock %}
