{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Les personnages{% endblock %}

{% block body %}
{# Bloc titre Page Personnages #}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page-personnages">Découvrir Rouvroy</h2>
        <h3 class="sous-titre-page">Les personnages</h3>
    </div> 
</section> 
{# Fin Bloc titre Page Personnages #} 

{# Bloc section présentation des personnages Page Personnages #}
<section class="personnages">
    <h2>Les personnages</h2>
    <p><span class="tabulation">La</span> ville de Rouvroy regorge de personnalités qui ont laissé une empreinte indélébile, tant au sein de la communauté locale qu'à l'extérieur. Parmi ces personnalités, on retrouve des soldats ayant combattu lors de différents conflits, des membres du clergé, des figures politiques, d'anciens dignitaires civils, ainsi que d'autres individus qui ont marqué la commune par leurs contributions professionnelles.</p>

    <div class="div-personnages">
        {% for Personnages in Personnages | sort((a, b) => a.id <=> b.id)%}
        <div class="card-personnages" style="width: 18rem;">
            <img src="uploads/articles/{{Personnages.image}}" class="card-img-top-personnages" alt="{{ Personnages.nom }}">
            <div class="card-body-personnages">
            <h5 class="card-title-personnages">{{ Personnages.nom }}</h5>
            <h6 class="card-subtitle-personnages mb-2 text-muted">{{ Personnages.dates }}</h6>
            <p class="card-text-personnages">{{ Personnages.description | raw }}</p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{# Fin Bloc section présentation des personnages Page Personnages #}
{% endblock %}
