{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Galeries{% endblock %}

{% block body %}
{# Bloc titre Page Galeries #}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page-galeries">Galeries</h2>
    </div> 
</section>
{# Fin Bloc titre Page Galeries #}

{# Bloc section présentation des Galeries #}
<section class="galeries">
    <h2>Les galeries d'images</h2>

    <p class="paragraphe-presentation-galeries">Texte présentation page Galeries images</p>

    {# <div class="div-galeries">
        {% for Galeries in Galeries | sort((a, b) => a.id <=> b.id)%}
            <h5>{{ Galeries.titre }}</h5>
            <h6>{{ Galeries.dates }}</h6>
            <p>{{ Galeries.description | raw }}</p>
            <img src="uploads/articles/{{Galeries.image}}" class="card-img-top-galeries" alt="">
            <img src="uploads/articles/{{Galeries.image2}}" class="card-img-top-galeries" alt="">
            <img src="uploads/articles/{{Galeries.image3}}" class="card-img-top-galeries" alt="">
        {% endfor %}
    </div> #}

    <div class="div-galeries">
        {% for Galeries in Galeries | sort((a, b) => a.id <=> b.id)%}
            <div class="timeline">
                <ul>
                  <li>
                    <div class="reveal">
                        <time>{{ Galeries.dates }}</time> 
                        <h3>{{ Galeries.titre }}</h3>
                        <p>{{ Galeries.description | raw }}</p>
                        <img src="uploads/articles/{{Galeries.image}}" class="img-galeries" alt="">
                        <img src="uploads/articles/{{Galeries.image2}}" class="img-galeries" alt="">
                        <img src="uploads/articles/{{Galeries.image3}}" class="img-galeries" alt="">
                    </div>
                  </li>
                </ul>
              </div>
        {% endfor %}
    </div>
</section>
{# Fin Bloc section présentation des Galeries #}
{% endblock %}
