{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Galeries{% endblock %}

{% block body %}
{# Bloc titre Page Galeries #}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page-galeries">Galeries</h2>
    </div> 
</section>
{# Fin Bloc titre Page Galeries #}

{# Bloc section présentation des Galeries #}
<section class="galeries">
    <h2>Les galeries d'images</h2>

    <div class="div-galeries">
        {% for Galeries in Galeries | sort((a, b) => a.id <=> b.id)%}
        <div class="card-galeries" style="width: 18rem;">
            <img src="uploads/articles/{{Galeries.image}}" class="card-img-top-galeries" alt="{{ Galeries.titre }}">
            <div class="card-body-galeries">
            <h5 class="card-title-galeries">{{ Galeries.titre }}</h5>
            <h6 class="card-subtitle-galeries mb-2 text-muted">{{ Galeries.dates }}</h6>
            <p class="card-text-galeries">{{ Galeries.description | raw }}</p>
            {# <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> #}
        {% endfor %}
    </div>
</section>
{# Fin Bloc section présentation des Galeries #}
{% endblock %}
