{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Galeries{% endblock %}

{% block body %}
{# Bloc titre Page Galeries #}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page-galeries">Galeries</h2>
    </div> 
</section>
{# Fin Bloc titre Page Galeries #}

{# Bloc section présentation des Galeries #}
<section class="galeries">
    <h2>Les galeries d'images</h2>

    <p class="paragraphe-presentation-galeries">Texte présentation page Galeries images</p>

   <div class="div-galeries">
        {% for Galeries in Galeries | sort((a, b) => a.id <=> b.id)%}
            <div class="timeline">
                <ul>
                  <li>
                    <div class="reveal">
                        <time>{{ Galeries.dates }}</time> 
                        <h3>{{ Galeries.titre }}</h3>
                        <p>{{ Galeries.description | raw }}</p>
                        <div id="animated-thumbnials">
                            <a href="uploads/articles/{{Galeries.image}}">
                                <img src="uploads/articles/{{Galeries.image}}" class="img-galeries" alt="">
                            </a>
                            <a href="uploads/articles/{{Galeries.image2}}">
                                <img src="uploads/articles/{{Galeries.image2}}" class="img-galeries" alt="">
                            </a>
                            <a href="uploads/articles/{{Galeries.image3}}">
                                <img src="uploads/articles/{{Galeries.image3}}" class="img-galeries" alt="">
                            </a>
                            <a href="uploads/articles/{{Galeries.image4}}">
                                <img src="uploads/articles/{{Galeries.image4}}" class="img-galeries" alt="">
                            </a>
                            <a href="uploads/articles/{{Galeries.image5}}">
                                <img src="uploads/articles/{{Galeries.image5}}" class="img-galeries" alt="">
                            </a>
                            <a href="uploads/articles/{{Galeries.image6}}">
                                <img src="uploads/articles/{{Galeries.image6}}" class="img-galeries" alt="">
                            </a>
                            <a href="uploads/articles/{{Galeries.image7}}">
                                <img src="uploads/articles/{{Galeries.image7}}" class="img-galeries" alt="">
                            </a>
                            <a href="uploads/articles/{{Galeries.image8}}">
                                <img src="uploads/articles/{{Galeries.image8}}" class="img-galeries" alt="">
                            </a>
                            <a href="uploads/articles/{{Galeries.image9}}">
                                <img src="uploads/articles/{{Galeries.image9}}" class="img-galeries" alt="">
                            </a>
                            <a href="uploads/articles/{{Galeries.image10}}">
                                <img src="uploads/articles/{{Galeries.image10}}" class="img-galeries" alt="">
                            </a>
                        </div>
                    </div>
                  </li>
                </ul>
              </div>
        {% endfor %}
    </div>
</section>
{# Fin Bloc section présentation des Galeries #}
{% endblock %}
